* {

	font-family: 'primary'
}

body {
	
}

ul {
	
}

#background {
	position: absolute;
	
	width:100vw;
	height:100vh;
	background-size: cover;
	background-position: 0 0;
}

#blur-container {
	position: absolute;
	overflow: hidden;
	width: 650px;
	height: 200px;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-50%) translateX(-50%);
}

#blur {
	
	position: relative;
	width:100vw;
	height:100vh;
}

input[type="password"] {
	z-index: 5;
	background: transparent;
	border: none;
	font-size:50px;
	width: 400px;
}

input[type="password"]::placeholder {
	color: #333;
}

textarea:focus, input[type="password"]:focus {
	outline: none;
}

.wrap {
	width:100%;
	height:100vh;
	
}

.login-area {
	position: relative;
	width:600px;
	margin:0 auto;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
}

#user {
	font-size: 50px;
	text-decoration: none;
	color: black;
}

#user:hover {
	text-decoration: none;
}

#users {
	z-index: 99999;
	overflow:hidden;
	transition: 0.5s linear;
	position: absolute;
	list-style: none;
	padding-left: 0;
	font-size: 50px;
}

#users li {
	display: none;
}

#users li a {
	background: #fff;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px 0 10px 0;
	text-decoration: none;
	color: black;
}

#users li a:hover {
	color: black;
	background: #ddd;
}

#delim {
	font-size: 50px;
	color: red;
}

#host {
	font-size: 50px;
	font-family: 'secondary';
}

#password-box {
	margin: 0 0 0 40px;
}

#carrot {
	z-index: -1;
	font-size: 50px;
	margin: 0 5px 0 0;
	animation: blink-carrot 1.5s steps(2, start) infinite;
}

#password {
	position: relative;
	z-index: 10;
}

.block {
	display: inline-block;
}

.unblock {
	display: block;
}

#thinker-cn {
	position: absolute;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#thinker {
	width: 50px;
	height: 50px;
	border-radius: 100px;

	display: none;

	border-style: solid;
	border-width: 10px;
	border-color: #000;

	animation-name: kewlcolor;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

#exxtain {
	z-index: -1;
	position: absolute;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.exx {
	display: none;
	position: absolute;
	background: #f00;
	width: 60px;
	height: 10px;
	border-radius: 5px;
}

.exx._1 {
	transform: rotate( 45deg );
}

.exx._2 {
	transform: rotate( -45deg );
}

#session-container {
	position: absolute;
	width: 600px;
	top: -21px;
}

#sessions {
	float: right;
	z-index: 99999;
	list-style: none;
	padding: 0;
}

#sessions li {
	float:left;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0 0 7px 7px;
}

#sessions li a {
	height: 0px;
}

#sessions li a img {
	width: 40px;
	padding: 0;
	filter: grayscale(100%);
}

#sessions li:hover {
	background-color: rgba(220,220,220,1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}


@keyframes kewlcolor {
	0% {
		-webkit-transform: rotate(0deg), translate(0%);
		border-color: #f00;
		height: 50px;

	}
	16% {
		border-color: #ff0;
	}
	33% {
		border-color: #0f0;
	}
	49% {
		border-color: #0ff;
		height:60px;
		width: 0px;
	}
	66% {
		border-color: #00f;
	}
	83% {
		border-color: #f0f;
	}
	100% {
		border-color: #f00;
		height: 50px;
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin1 {

}

@keyframes blink-carrot {
	to {
		visibility: hidden;
	}
}

@font-face {
	font-family: 'primary';
	src: url('../fonts/TTF/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'secondary';
	src: url('../fonts/TTF/OpenSans-Regular.ttf');
}